/* Estilos generales */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    background: linear-gradient(135deg, #1e2a38, #2b3a42); /* Gradiente de fondo más oscuro */
    align-items: center; /* Alinea el contenido verticalmente */
}

.menu {
    width: 20%;
    background: #1c1c1c;
    color: #ecf0f1;
    border-right: 2px solid #34495e;
    padding: 20px;
    box-shadow: 4px 0 15px rgba(0, 255, 255, 0.3); /* Sombra neón azul */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Alinea los elementos del menú */
    height: 100%; /* Asegura que ocupe toda la altura */
}

.welcome-container {
    background: #2c3e50; /* Fondo oscuro */
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 255, 255, 0.4); /* Sombra neón azul */
    padding: 40px;
    margin: 20px;
    flex-grow: 1; /* Hace que este contenedor crezca con el contenido */
    color: #ecf0f1;
    text-align: center; /* Centra el texto */
}

/* Imagen en la parte superior de la sección de bienvenida */
.welcome-container img {
    max-width: 80%;
    height: auto;
    margin-bottom: 20px;
    border: 5px solid #3498db; /* Borde neón azul */
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.6); /* Sombra de imagen neón */
}

h1 {
    color: #f1c40f; /* Dorado neón */
    margin-bottom: 20px;
    font-size: 2.5rem;
    font-weight: 700;
    text-shadow: 0 0 15px rgba(255, 215, 0, 0.8); /* Sombra dorada */
}

p {
    color: #ecf0f1;
    margin-bottom: 30px;
    line-height: 1.6;
    text-align: justify; /* Justifica el texto para que se vea alineado */
}

.options {
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinea los enlaces en el centro */
}

.options a {
    text-decoration: none;
    color: #ecf0f1;
    background: #3498db;
    padding: 15px 25px;
    margin: 10px 0;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 500;
    transition: background 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 255, 255, 0.3); /* Sombra neón azul */
    width: 100%; /* Asegura que los enlaces ocupen todo el ancho disponible */
    text-align: center; /* Centra el texto de los enlaces */
}

.options a:hover {
    background: #2980b9;
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 255, 255, 0.5); /* Sombra azul neón más intensa */
}

.content {
    width: 80%;
    height: 100vh;
    padding: 0;
    margin: 0;
    background: #ffffff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.content iframe {
    width: 100%;
    height: 100%;
    border: none; /* Elimina el borde del iframe */
}
